PATH=/opt/local/bin:/opt/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/texbin:/usr/X11/bin
MAILTO=pd.mes@cbs.dk
05 00 * * * $HOME/scripts/R-build-prerelease
02 00 12  06 * $HOME/scripts/R-set-version '2.15.1 beta' 'Roasted Marshmallows'
02 00 15  06 * $HOME/scripts/R-set-version '2.15.1 RC'
00 09 22  06 * $HOME/scripts/R-build-dist 2.15.1
#02 00 02 03 * $HOME/scripts/R-create-branch 2.15
#02 00 16 03 * $HOME/scripts/R-set-version '2.15.0 beta'
#02 00 23 03 * $HOME/scripts/R-set-version '2.15.0 RC'
#00 09 30 03 * $HOME/scripts/R-build-dist 2.15.0
