PATH=/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/texbin:/usr/X11/bin
MAILTO=pd.mes@cbs.dk
10 00 * * * $HOME/scripts/R-build-prerelease
05 00 25 3 * /home/bs/pd/scripts/R-create-branch 2.11
05 00 8 4 * /home/bs/pd/scripts/R-set-version '2.11.0 beta'
05 00 15 4 * /home/bs/pd/scripts/R-set-version '2.11.0 RC'
