5 2,8,14,20 * * * /data/gannet/ripley/R/packages/check-devel > /data/gannet/ripley/R/packages/check-devel.log 2>&1

5 4,10,16,22 * * * /data/gannet/ripley/R/packages/check-clang > /data/gannet/ripley/R/packages/check-clang.log 2>&1

5 6 * * * /data/gannet/ripley/R/packages/check-gcc > /data/gannet/ripley/R/packages/check-gcc.log 2>&1

5 9 * * * /data/gannet/ripley/R/packages/check-extra > /data/gannet/ripley/R/packages/check-extra.log 2>&1

1 * * * * /data/gannet/ripley/R/packages/update > /data/gannet/ripley/R/packages/updates.log 2>&1

5 1 * * * /data/gannet/ripley/R/packages/tl-update > /data/gannet/ripley/R/packages/tl-update.log  2>&1

48 7 * * * /data/gannet/ripley/R/packages/Rlog_diffs2
