<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="1">
    <title>R %VER% for macOS (X86_64)</title>
    <options customize="allow" require-scripts="false" hostArchitectures="x86_64"/>
    <volume-check>
        <allowed-os-versions>
            <os-version min="11.0.0"/>
        </allowed-os-versions>
    </volume-check>
    <choices-outline>
        <line choice="org.R-project.x86_64.R.fw.pkg"/>
        <line choice="org.R-project.x86_64.R.GUI.pkg"/>
        <line choice="org.r-project.x86_64.tcltk.x11"/>
        <line choice="org.r-project.x86_64.texinfo"/>
    </choices-outline>

    <choice id="org.R-project.x86_64.R.fw.pkg" visible="true" title="R %VER% Framework" tooltip="R %VER% Framework" description="R framework version %VER% (legacy Intel Macs only) for macOS 11 (Big Sur) or higher. This package contains the full framework necessary for the use of R.">
        <pkg-ref id="org.R-project.x86_64.R.fw.pkg"/>
    </choice>
    <pkg-ref id="org.R-project.x86_64.R.fw.pkg" version="%VER%" onConclusion="none">R-fw.pkg</pkg-ref>

    <choice id="org.R-project.x86_64.R.GUI.pkg" visible="true" title="R GUI %GUIVER%" tooltip="R for Mac OS X GUI %GUIVER% Application" description="This is the Mac GUI application for R. It requires a compatible R framework to be installed as well.">
        <pkg-ref id="org.R-project.x86_64.R.GUI.pkg"/>
    </choice>
    <pkg-ref id="org.R-project.x86_64.R.GUI.pkg" version="%GUIVER%" onConclusion="none">R-app.pkg</pkg-ref>

    <choice title="Tcl/Tk 8.6.13" id="org.r-project.x86_64.tcltk.x11" tooltip="Tcl/Tk 8.6.13 (X11)" description="Tcl/Tk 8.6.13 build (X11 version) for macOS 11 and higher (64-bit, Intel). Needed for the tcltk R package.">
        <pkg-ref id="org.r-project.x86_64.tcltk.x11"/>
    </choice>
    <pkg-ref id="org.r-project.x86_64.tcltk.x11" version="8.6.13" onConclusion="none">tcltk.pkg</pkg-ref>

    <choice title="Texinfo 6.8" id="org.r-project.x86_64.texinfo" tooltip="Texinfo 6.8" description="Texinfo 6.8 for macOS 11 and higher (64-bit Intel). Needed for building documentation when compiling R packages from sources.">
        <pkg-ref id="org.r-project.x86_64.texinfo"/>
    </choice>
    <pkg-ref id="org.r-project.x86_64.texinfo" version="6.8" onConclusion="none">texinfo.pkg</pkg-ref>

    <welcome file="welcome.rtf" uti="public.rtf"/>
    <license file="license.rtf" uti="public.rtf"/>
    <readme file="readme.rtf" uti="public.rtf"/>
    <background file="background.tiff" mime-type="image/tiff" scaling="proportional"/>
    <!-- <background-darkAqua file="background.tiff" mime-type="image/tiff" scaling="proportional"/> -->
</installer-gui-script>
